.box-row{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:20px 0px;
}
.box-column{
    padding: 20px;
    text-align: center;
}
.brown-text {
    color: brown;
}
#cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999; 
}

#cart-icon i {
    font-size: 44px; 
}
#cart-count {
    background-color: #ff0000; 
    color: #ffffff; 
    border-radius: 50%; 
    padding: 5px 10px;
    font-size: 14px;
    position: absolute;
    top: -8px;
    right: -8px;
}