.banner{
    margin-top: 0.5cm;
}

.search-box {
    display: flex;
    align-items: center;
    position: relative;
}

.search-box input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0c0909;
    border-radius: 5px;
    margin-right: 10px
}

.search-box button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #020203;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icons .home-icon img,
.icons .cart-icon img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}



h2 {
    text-align: center;
    font-size: 500%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bird-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.fish-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.dog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.cat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.hamster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    width: calc(25% - 20px); /* 25% width with 20px margin between products */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product  h3 {
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
    
}

.product  p {
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
}

.cart-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #050608;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#cart-items {
    margin: 20px;
}

.cart-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#total-cost {
    font-weight: bold;
}

.remove-items {
    background-color: #0e0909;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor:pointer;
    margin-top: 20px;
    
}